<ng-container *ngIf="user != null">
  <div class="flex flex-col justify-center items-center h-screen space-y-6">
    <div class="text-left">
      <h1 class="font-semibold text-xl">
        Buenos dias,
        <span *ngIf="user != null"> {{ user.nombreCompleto }}</span>
        <br />
        ¿que quieres hacer hoy?
      </h1>
    </div>
    <div routerLink="/app/cita" class="grid grid-cols-3 gap-4">
      <div
        class="p-4 rounded shadow w-96 h-52 cursor-pointer overflow-hidden hover:shadow-lg hover:scale-105 transition-all duration-300 bg-center bg-no-repeat bg-cover bg-blue-500 bg-opacity-50 relative"
        style="background-image: url('assets/img/imagen1.jpg')"
      >
        <div
          class="absolute bottom-0 left-0 right-0 bg-blue-600 py-5 px-4 text-white"
        >
          <h2 class="font-semibold">Solicitud citas</h2>
        </div>
      </div>
      <div
        class="p-4 rounded shadow w-96 h-52 cursor-pointer overflow-hidden hover:shadow-lg hover:scale-105 transition-all duration-300 bg-center bg-no-repeat bg-cover bg-blue-500 bg-opacity-50 relative"
        style="background-image: url('assets/img/imagen2.jpg')"
      >
        <div
          class="absolute bottom-0 left-0 right-0 bg-blue-600 py-5 px-4 text-white"
        >
          <h2 class="font-semibold">
            Servicios MediCita (Certificados y consultas)
          </h2>
        </div>
      </div>
      <div
        class="p-4 rounded shadow w-96 h-52 cursor-pointer overflow-hidden hover:shadow-lg hover:scale-105 transition-all duration-300 bg-center bg-no-repeat bg-cover bg-blue-500 bg-opacity-50 relative"
        style="background-image: url('assets/img/imagen3.jpg')"
      >
        <div
          class="absolute bottom-0 left-0 right-0 bg-blue-600 py-5 px-4 text-white"
        >
          <h2 class="font-semibold">Historial medico</h2>
        </div>
      </div>
      <div
        class="p-4 rounded shadow w-96 h-52 cursor-pointer overflow-hidden hover:shadow-lg hover:scale-105 transition-all duration-300 bg-center bg-no-repeat bg-cover bg-blue-500 bg-opacity-50 relative"
        style="background-image: url('assets/img/imagen4.jpg')"
      >
        <div
          class="absolute bottom-0 left-0 right-0 bg-blue-600 py-5 px-4 text-white"
        >
          <h2 class="font-semibold">Administración</h2>
        </div>
      </div>
      <div
        class="p-4 rounded shadow w-96 h-52 cursor-pointer overflow-hidden hover:shadow-lg hover:scale-105 transition-all duration-300 bg-center bg-no-repeat bg-cover bg-blue-500 bg-opacity-50 relative"
        style="background-image: url('assets/img/imagen5.jpg')"
      >
        <div
          class="absolute bottom-0 left-0 right-0 bg-blue-600 py-5 px-4 text-white"
        >
          <h2 class="font-semibold">Pagos</h2>
        </div>
      </div>
      <div
        class="p-4 rounded shadow w-96 h-52 cursor-pointer overflow-hidden hover:shadow-lg hover:scale-105 transition-all duration-300 bg-center bg-no-repeat bg-cover bg-blue-500 bg-opacity-50 relative"
        style="background-image: url('assets/img/imagen6.jpg')"
      >
        <div
          class="absolute bottom-0 left-0 right-0 bg-blue-600 py-5 px-4 text-white"
        >
          <h2 class="font-semibold">Solicitud citas</h2>
        </div>
      </div>
    </div>
  </div>
</ng-container>
